@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Fira Sans", serif;
  background-color: rgba(245, 245, 245, 1)
}
  

/* global website */




*{margin: 0;



}






.nav{
    display: flex;
   justify-content: space-between;
    padding: 20px 160px;
background-color:rgba(245, 245, 245, 1) ;}

nav .logotext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: 32px;
}

nav .navbutton{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400 ;
    font-style: 16px;
    font-weight: 500;
    border-radius: 5px;
   padding: 0px 15px;
   border-width: 1px;
padding-top: opx;
color:rgba(0, 106, 80, 1) ;
}



/* hero section styles */



.hero{ background-color: rgba(198, 228, 214, 1);
    

display: flex;
margin: 80px 160px;
border-radius: 20px;

}


.hero-div1{
   margin: 100px 50px;
}

.hero-div2{
  margin: 100px 50px;
}

.hero-para{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 16px;
}

.hero-title{ 
    font-weight: 700;
    font-size: 56px;
    color:rgba(14, 14, 14, 1);
    padding-bottom: 16px;
}


.hero-button{
    font-weight: 600;
    font-size: 18px;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1); border: none;
    border-radius: 5px;
padding: 20px 30px;
}

 /* the vision of future section styles */

.section2{
    margin:80px 160px;

   
}




 .section2-title{
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 24px;
 }


 .section2-description{
    font-weight: 500;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 24px;
 }


 .section2-div
 {
     display: flex;
   justify-content: space-between;
   
 }
 
 .section2-box1{
    background:rgba(84, 144, 245, 0.2);
    padding: 20px;
    margin-right: 16px;
   
    border-radius: 10px;
 }

 .section2-box2{
    background:rgba(198, 228, 214, 1);
    padding: 20px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
 }

 .section2-box3{
    background:rgba(247, 235, 207, 1);
    padding: 20px;
    margin-left: 16px;
    border-radius: 10px;
 }

 .section2-img{
    margin-bottom: 10px;
 }
   .section2-box-title{
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8); margin-bottom: 10px;
 

   }

   .section2-box-description{
    font-weight: 500;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 10px;
}

.box-btn1{
    background-color: rgba(84, 144, 245, 1);

color: white;
font-weight: 600;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;

}




.box-btn2{background-color: rgba(9, 161, 92, 1);
    color: white;
font-weight: 600;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;
}

.box-btn3{
background-color: rgba(255, 194, 57, 1);
color: white;
font-weight: 600;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;

}




/* recent news satallite */
  
.section3{ margin: 80px 160px;
background-color: rgba(245, 245, 245, 1);

}

.section3-title{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}

.section3-description{
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 30px;
}

.section3-box1-title{ font-size: 16px;
  font-weight: 700;
font-size: 32px; padding-bottom: 20px;
color:rgba(14, 14, 14, 0.8) ;
}


.section3-box1-description{
  font-size: 16px ;
  font-weight: 500;
  padding-bottom: 20px;
  text-align: left;
  
  color: rgba(14, 14, 14, 0.7);
}


.section3-btn
{
  padding-top: 50px;
  font-weight: 600;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 106, 80, 1);
  padding: 10px 20px;
border: none;
border-radius: 10px;
}

.div1{
  display: flex;
  padding: 48px;
  width: 1000px;
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;

  align-items: stretch;
}

.div1-1{
margin-right: 32px;
 
}

.div1-2
{
  padding-bottom: 10px;
}


.div2{
  display: flex;
  padding: 48px;
  width: 1000px;
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;

  align-items: stretch;

  margin-top: 24px;
}

.div3{
  display: flex;
  padding: 48px;
  width: 1000px;
  height: 350px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 20px;

  align-items: stretch;

  margin-top: 24px;
  
}




/* donate part styles */

.section4{ margin: 80px 160px;

}
.section4-title{
  font-size: 40px;
  font-weight: bold;
  color: rgba(14, 14, 14, 1);
  text-align: center;
}


.section4-description{
  font-size: 16px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.7);
  text-align: center;
  margin: 24px 32px 88px;
}

.div4{
  margin: 0px 32px 105px;
  
}





.btn4, .btn6{
  background-color: white;
  border: none;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  background-color: white;
  font-size: 40px;
  border-radius: 20px;
  font-weight: 700; 
  margin-right: 24px;

}

.btn5{
  background-color: white;
  border: none;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  background-color: rgba(198, 228, 214, 1);
  font-size: 40px;
  border-radius: 20px;
  font-weight: 700; 
  margin-right: 24px;
}

.btn7{
  background-color: white;
  border: none;
  padding: 40px;
  color: rgba(14, 14, 14, 0.8);
  background-color: white;
  font-size: 40px;
  font-weight: 700;
  border-radius: 20px;
}




.input{

  font-size: 20px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.3);

  background-color: white;

  padding: 20px 350px ;

  margin: -80px  90px 32px 120px;
  text-align: center;
  border: none;
}


.div4-1{
  text-align: center;
}
.btn8{
   color: white;
   background-color: rgba(0, 106, 80, 1);
   font-size: 18px;
   font-weight: 600;
   text-align: center;
   padding: 17px 34px;
   border-radius: 10px;
}


