@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

/* global website */




*{margin: 0;



}






.nav{
    display: flex;
   justify-content: space-between;
    padding: 20px 160px;
background-color:rgba(245, 245, 245, 1) ;}

nav .logotext
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-style: 32px;
}

nav .navbutton{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight: 400 ;
    font-style: 16px;
    font-weight: 500;
    border-radius: 5px;
   padding: 0px 15px;
   border-width: 1px;
padding-top: opx;
color:rgba(0, 106, 80, 1) ;
}



/* hero section styles */



.hero{ background-color: rgba(198, 228, 214, 1);
    

display: flex;
margin: 80px 160px;
border-radius: 20px;

}


.hero-div1{
   margin: 100px 50px;
}

.hero-div2{
  margin: 100px 50px;
}

.hero-para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 16px;
}

.hero-title{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 56px;
    color:rgba(14, 14, 14, 1);
    padding-bottom: 16px;
}


.hero-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1); border: none;
    border-radius: 5px;
padding: 20px 30px;
}

 /* the vision of future section styles */

.section2{
    margin:80px 160px;

   
}




 .section2-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 24px;
 }


 .section2-description{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    padding-bottom: 24px;
 }


 .section2-div
 {
     display: flex;
   justify-content: space-between;
   
 }
 
 .section2-box1{
    background:rgba(84, 144, 245, 0.2);
    padding: 20px;
    margin-right: 16px;
   
    border-radius: 10px;
 }

 .section2-box2{
    background:rgba(198, 228, 214, 1);
    padding: 20px;
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 10px;
 }

 .section2-box3{
    background:rgba(247, 235, 207, 1);
    padding: 20px;
    margin-left: 16px;
    border-radius: 10px;
 }

 .section2-img{
    margin-bottom: 10px;
 }
   .section2-box-title{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgba(14, 14, 14, 0.8); margin-bottom: 10px;
 

   }

   .section2-box-description{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 10px;
}

.box-btn1{
    background-color: rgba(84, 144, 245, 1);

color: white;
font-weight: 600;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;

}




.box-btn2{background-color: rgba(9, 161, 92, 1);
    color: white;
font-weight: 600;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;
}

.box-btn3{
background-color: rgba(255, 194, 57, 1);
color: white;
font-weight: 600;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 16px;
border-radius: 5px;
padding: 8px 10px;

}



